<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-abip{background-color:#f9f9f9;border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-dzk6{background-color:#f9f9f9;text-align:center;vertical-align:top}
    </style>
<center>
<form method="get" action='/delivery/deliveryTracking'>
    <h2>
    Delivery Tracking
  </h2>
  Delivery ID:</p>
    <input type="string" class="form-control" name="id" value="{{deliveryID}}" required></input>
    <p style="text-align: left; font-weight: bold;"></p>
      <input type="submit"></input>
</form> 
<p></p>
{{#each delivery as |del|}}
<div>
      <div style="display: inline-block">
        
      <table class="tg">
        <tr>
          <th class="tg-c3ow" colspan="6"><b>Delivery</b></th>
        </tr>
        <tr>
          <td class="tg-c3ow" name="streetNum"><b>Street Number: </b>{{del.streetNum}}</td>
        </tr>
        <tr>
         <td class="tg-c3ow" name="streetName"><b>Street Name: </b>{{del.streetName}}</td>
        </tr>
        <tr>
         <td class="tg-c3ow" name="streetName"><b>Suburb: </b>{{del.suburb}}</td>
        </tr>
        <tr>
         <td class="tg-c3ow" name="streetName"><b>Postcode: </b>{{del.postcode}}</td>
        </tr>
        <tr>
         <td class="tg-c3ow" name="streetName"><b>State: </b>{{del.state}}</td>
        </tr>
        <tc>
          <tr>
            <tr>
         <td class="tg-c3ow" name="streetName"><b>Delivery Date: </b>{{del.date}}</td>
          </tr>
        </tc>
      </table>
    </div>
    {{/each}}
</center>
